.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-x: auto;
}

.overlay__order {
    display: flex;
}
.overlay__active {
    display: flex;
}